<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Product List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{product.productName}}</td>
          <td>฿{{product.productPrice}}</td>
          <td>
              
            <button (click)="productDetail(product.id)" class="btn btn-info"><mat-icon>info</mat-icon> Details</button>
              <button (click)="updateProduct(product.id)" class="btn btn-primary" style="margin-left: 10px"><mat-icon>edit</mat-icon> Update</button>
              <button (click)="deleteProduct(product.id)" class="btn btn-danger" style="margin-left: 10px"><mat-icon>delete</mat-icon> Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>